h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 45px;
    text-align: center;
    color: rebeccapurple;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}


/*footer*/

footer {
    display: flex;
    flex-wrap: wrap;
}

.footer_left {
    flex-grow: 1;
    flex-basis: 400px;
}

.footer_center {
    flex-grow: 1;
    flex-basis: 400px;
}

.footer_righ {
    flex-grow: 1;
    flex-basis: 400px;
}


/*footer slut*/

/*forside */

.content {
    display: flex;
    flex-wrap: wrap;
}

.column_wide {
    flex-grow: 4;
    flex-basis: 400px;
}

.column_narrow {
    flex-grow: 1;
    flex-basis: 400px;
}


/*forside slut*/

/*foto*/

.img_box {
    flex-grow: 1;
    flex-basis: 400px;
<<<<<<< HEAD
<<<<<<< HEAD

=======
    <<<<<<< HEAD
>>>>>>> origin/master
=======
    <<<<<<< HEAD
>>>>>>> origin/master
}

img {
    width: 100%;
<<<<<<< HEAD
<<<<<<< HEAD
=======
    =======width: 150px;
    > > > > > > > origin/master
>>>>>>> origin/master
=======
    =======width: 150px;
    > > > > > > > origin/master
>>>>>>> origin/master
}


/*foto slut*/

/*menu siden*/

.column_content {}

.menu_container {
    display: flex;
    flex-wrap: wrap;
}

.menu_box {
    flex-grow: 1;
    flex-basis: 400px;
}

.menu_box_bottom {
    flex-grow: 3;
    flex-basis: 400px;
    align-self: flex-end;
}


/*menu siden*/

/*musik side*/

<<<<<<< HEAD
<<<<<<< HEAD
#musik h3 {
	text-align: center;
}

=======
>>>>>>> origin/master
=======
>>>>>>> origin/master
/*musik side*/

.content_musik {}
